<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Template.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Template.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Template.Properties.Settings>
            <setting name="CompanyName" serializeAs="String">
                <value>БТИ</value>
            </setting>
            <setting name="Duty" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="Chief" serializeAs="String">
                <value>Фёдоров А.В.</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProgrammName" serializeAs="String">
                <value>Заявления</value>
            </setting>
            <setting name="ConOrders" serializeAs="String">
                <value>Server=localhost;Database=bti;Uid=root;Pwd=root;</value>
            </setting>
            <setting name="ConLists" serializeAs="String">
                <value>Server=localhost;Database=bti_lists;Uid=root;Pwd=root;</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Template.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Template.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.1.0</value>
            </setting>
        </Template.Properties.Settings>
    </applicationSettings>
</configuration>